*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.hero_section{
    background: url(images/heroSectionBackground.png);
    min-height: 60vh;
    background-position: center;
    background-size: cover;
    
}